arrow==0.14.7; python_version < '3.0'
arrow==0.17.0; python_version >= '3.0'
bandit==1.6.2
future==0.18.2
pylint==2.6.0; python_version >= '3.0'
pylint==1.9.5; python_version < '3.0'
requests==2.25.1
